* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    /* background-color: #666; */
}

/* ||navbar */
.navbar {
  display: block;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu {
    display: flex;
    list-style-type: none;
    background-color: #f3f3f3;
}


.item a{
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item a:hover:not(.active) {
    background-color: #e1dddd;
}

.item a.active {
    background-color: #04AA6D;
    color: #fff;
}

.btn_logout {
    border: none;
    background: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 1.2rem 1.5rem;
    color: #fff;
    cursor: pointer;
    background-color: red;
}
.btn_logout:hover {
    background-color: rgb(229, 65, 65);
}
.btn_logout:focus {
    outline: none;
}



/* ||end navbar */