{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">My Site Admin</a></h1>
{% endblock %}

{% block nav-global %}
<div class="custom-navbar">
  <a href="{% url "home" %}">Home</a>
  {% if user.is_authenticated %}
    <a href="{% url "profile" user.username %}">Profile</a>
  {% endif %}
</div>
{% endblock %}
