{% extends "base.html" %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<section class="mt-5 h-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post">
                {% csrf_token %}
            <div data-mdb-input-init class="form-outline mb-4">
                {{ form.username }}
                <label class="form-label" for="{{ form.username.id_for_label }}">Username</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-3">
                {{ form.password }}
                <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                    Remember me
                </label>
                </div>
                <a href="{% url "password_reset" %}" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url "register" %}"
                    class="link-danger">Register</a></p>
            </div>

            </form>
        </div>
        </div>
    </div>
  
</section>
{% endblock content %}