{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog App{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <!-- nav bar -->
    <div class="navbar">
        <ul class="menu">
            <li class="item"><a class="active" href="{% url "home" %}">Home</a></li>
            <li class="item"><a href="/">Blog</a></li>
            
            {% if user.is_authenticated %}
                <li class="item"><a href="/">Profile</a></li>

                {% if user.is_superuser %}
                    <li class="item"><a href="/admin/">Dashboard</a></li>
                {% endif %}
                {% if user.role == 'admin' %}
                    <li class="item"><a href="{% url "admin_dashboard" %}">Dashboard</a></li>
                {% endif %}

                <li class="item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn_logout" type="submit">Log Out</button>
                    </form>
                </li>
            {% else %}
                <li class="item"><a href="{% url "login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- main -->
    <div class="main_container">
        {% block content %}
        {% endblock  %}
    </div>
    
    <!-- footer -->
    <div class="footer_container">

    </div>
</body>
</html>